.custom-alert{
    width: 100%;
    text-align: center;
}

.mt-30{
    margin-top: 30px;
}

#order-table_filter{
    display: none;
    align-items: center;
    justify-content: flex-end;
}

.filter-block-unit{
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.filter-block-unit-block{
    width: 60%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.filter-block-unit-block_sm{
    width: 30%;
}

.filter-block-unit__item{
    display: flex;
    align-items: center;
    height: 86px;
}

.filter-block-unit__item button
{
    margin-top: 14px;
}
